<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.krewellaapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.krewellaapp.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.krewellaapp.VideoActivity"
            android:label="@string/title_activity_video"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.example.krewellaapp.MenuActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.krewellaapp.ImatgesActivity"
            android:label="@string/title_activity_fotos"  >
        </activity>
        <activity
            android:name="com.example.krewellaapp.ImageAdapter"
            android:label="@string/title_activity_image_adapter" >
        </activity>
        <activity
            android:name="com.example.krewellaapp.ImatgeActivity"
            android:label="@string/title_activity_foto" >
        </activity>
    </application>

</manifest>